<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Foundation.Fields.ContentEditor.Controls" assembly="Sitecore.Foundation.Fields" prefix="custom" />
    </controlSources>
  </sitecore>
</configuration>